// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	a(href="/stores/create_store_branch") Crear nuevo comercio
	.container
		.form_container
			form(method='post', id="stores_create_store_branch", action='/stores/add_store_branch')
				label name
				br
				input(name='store_name', type='text' ,class="required") 
				br
				label email
				br
				input(name='store_email', type='text',class="required")  
				br
				label about
				br
				select(name="franchisor", id="franchisor_selector")
					.franchisor_selector_items

				input(name='store_about', type='text' ,class="required")
				fieldset Informacion de la Sucursal
					br
					label name
					input(name='name', type='text' ,class="required") 
					br
					label email
					input(name='address', type='text' ,class="required") 
					br
					label zip
					input(name='zip', type='text')
					br
					label phone
					input(name='phone', type='text') 
					br
					label email
					input(name='email', type='text' ,class="required email") 
					br
					label website
					input(name='website', type='text') 
					br
					label fanpage
					input(name='fanpage', type='text') 
					br
					label twitter
					input(name='twitter', type='text')
					br 
					label contact
					input(name='contact', type='text') 
					br
					label Usuario que tiene la sucursal asignada: 
					input(type='text', name="partner",placeholder="Usuario" ,class="users_input typeahead" , data-provide="typeahead", data-items="4") 
						
				input(type='submit', value='Save')