.form-inline(role='form')
	.form-group
		.glyphicon.glyphicon-envelope
		label.space Suscribete a las ofertas de:
		select.form-control.input-sm.space
			option(value='San Martin de los Andes') San Martin de los Andes
			option(value='Parana') Parana
	.form-group
		label.sr-only(for='inputEmail') Email
		input(type='email', class='form-control input-sm space', id='inputEmail', placeholder='Ingrese su email')
	button(type='submit', class='btn btn-primary btn-sm') Recibe!

