.header_conteiner
	.header
		a(href="/")
			img(class='fleft', src="/img/logo_giombu.png")
		#menu_top.fright
			ul
			if typeof user === "undefined"
				li(class='fright space')
					img(class='space', src='/img/icon_suscribir.png')
					a(href='#subscription', role='button', data-toggle='modal') Suscríbete
				li(class='fright space')
					img(class='space', src='/img/icon_crear_cuenta.png')
					a(href="/users/register") Registrate
				li(class='fright space')
					img(class='space',src='/img/icon_login_person.png')
					a(href='#myModal', role='button', data-toggle='modal') Accede       
			else
				if typeof user.username === "undefined"
					li(class='fright space')
						img(class='space', src='/img/icon_suscribir.png')
						a(href='#subscription', role='button', data-toggle='modal') Suscríbete
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_crear_cuenta.png')
						a(href="/users/register") Registrate
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_login_person.png')
						a(href='#myModal', role='button', data-toggle='modal') Accede
				else
					li(class='fright space')
						img(class='space', src='/img/icon_suscribir.png')
						a(href='#subscription', role='button', data-toggle='modal') Suscríbete
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_login_person.png')
						a(href="/users/dashboard" ) #{user.name}
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_logout.png')
						a(href="/users/logout") Salir
					//.selected_franchise
					//	a(href="/intranet/deals/list/#{user.selected_franchise}") #{user.selected_franchise}
			if(typeof messagge === "undefined")
				p
			else
				p #{messagge}
	.franchise_select
		button(class='btn btn-primary btn-lg', data-toggle='modal', data-target='#myModal') Cambiar ciudad
		div(class='modal fade', id='myModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			div(class='modal-dialog')
				div(class='modal-content')
					div(class='modal-header')
						button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times
						h4 Ofertas en otras ciudades		
					div(class='modal-body')
						h5 Rosario 
						h5 Parana
						h5 Buenos Aires
	.menu(class='nav-pills clear')
		ul.nav.nav-pills
			li.active
				a(href='/deals/home') Ofertas de hoy
			li 
				a(href='/deals/travel') Descuentos en viajes
