doctype html
html
	head
		meta(charset='utf-8')
		title Giombu
		include includes/scripts
	body(style="background-image:url('/img/background.jpg');background-size: 100%;background-attachment:fixed;")
		.container
			include includes/head
			block content
			include includes/login_modal
			include includes/suscription_modal
			include includes/footer
