doctype html
html
	head
		title Giombu
		include includes/scripts
	body
		include includes/head
		block content
		include includes/login_modal
		include includes/suscription_modal
		include includes/photo_upload
	include includes/footer
