doctype html
html
	head
		title= title
		include includes/includes_intranet/scripts
	body
		#conversations_div
		#navbar
		include includes/includes_intranet/head 
		include includes/includes_intranet/menu
		include includes/includes_intranet/center
			block content
		include includes/includes_intranet/news


