doctype html
html
	head
		title= title
		include includes/includes_intranet/scripts
	body(style="background-image:url('/img/background.jpg');background-size: 100%;background-attachment:fixed;")
		.container
			#conversations_div
			#navbar
			include includes/includes_intranet/head
			.menu.pull-left.col-md-2
				include includes/includes_intranet/menu
			.content.pull-left.col-md-8
				include includes/includes_intranet/center
			.news.pull-left.col-md-2
				include includes/includes_intranet/news


