doctype html
html
	head
		title= title
		include includes/includes_intranet/scripts
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#conversations_div
		#navbar
		include includes/includes_intranet/head 
		block content
		include includes/includes_intranet/menu
		include includes/includes_intranet/center
		include includes/includes_intranet/news
		include includes/includes_intranet/footer

