!!! 5
html
	head
		title Giombu
		link(rel='stylesheet', href='/css/style.css')
	body
		#header
			h1 Giombu
		#container
			p Elemento no encontrado
		#footer
			| Comercializadora Giombu, S.A. de C.V -
			| San Juan de los Lagos No. 21 -
			| Vallarta Poniente -
			| Guadalajara, Jalisco, México (44110)