body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #A4A4A4; 
}

table{
	width:100%;
}

a {
  color: #00B7FF;
  font-size: 13px;
}


#left, #center {
	float:left;
	width:13%;
}

#left ul {
	float: left;
	margin-top: 20px;
}

#left ul li a{
	margin-left: 0px;
}


/* Body del centro principal */
#center{
	width:65%;

}

.body_container{
	width:100%;
	text-align: center;
}
.other_deals .span4{
	margin-left: 0px;
}
.other_deals .row{
	margin-left: 0px;
	padding:6px;
}
.navbar-inner img{
	width:120px;
}
#left .nav{
	text-align:left;
}
.feed-text{
	width: 70%;
	float:right;
}

#myCarousel{
	margin-left:auto;
}


/* Header del layout home */
.header_franchise{
	height:auto;
	color: #CCC;
	padding-top: 5px;
	text-align: right;
	font-size: 11px;



}
.header_franchise img {
	float:left;
	width:auto;
	margin-right: 20px;
	margin-left: 30px;z
}

.franchise_select {
	width: 100%;
	clear: both;


}

.franchise_select a{
	font-size: 14px;
	font-color: #007ea7;

}


.subscription  {
	float:right;
	margin-left: 30px;

}

.login_layout {
	float: left;
	width: 15%;
	margin-left: 560px;
}

.login {
	float: right;

}

.login img {
	width: auto;
	height: auto;
	margin: 0px !important;
	float: none !important;
	margin-right: 3px !important;
	margin-left: 5px !important;

}

.login a {
	color: #007ea7;
	text-decoration: none;
	outline: 0;
	margin-right: 5px;
	margin-left: 5px;
}

	.login a:hover {
		color:#007ea7;
		text-decoration: underline;
	};


#profile{
	float:left;

}

#profile .thumbnail{
	width:30%;
	float:left;
}

/* Izquierda perfil */
#profile .data{
	width:50%;
	float:left; 
	margin-left: 10px;
}

#profile .data p {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0px;
}

#left #profile{
	width:100%;
}

#right{
	float:right;
	margin:auto;
	width: 18%;
}
/*
.feed .feed-text{
	float:right;
}
*/

/* Div derecha de la intranet que muestra las noticias de los contactos y promotores */
/*
.feed {
	border:1px solid black;
	background-color: gray;
}
*/



.feed{
	background-color: #FFF;
	float:left;
	width:90%;
	margin-top: 2px;
	padding: 4px;
}
/*
.feed p{
	font-size: 10px;
}
*/

/* Imagen */
.feed .thumbnail{
	width:30px;
	float:left;

}

/* Texto */
.feed .feed-text{
	font-size: 10px;
	float:left;
	padding-left: 10px;
	text-align: left;
}
//NAVBar

#header{
	width:100%;
}

#dropProfile{
	float:right;
	text-align:left;
}

.text-align-left{
	text-align: left;
}

//---------------DEALS---------------


.table_list{
	text-align: left;
}
.deal_container{
	width: 250px;
	height: 150px;
	margin: 10px;
	padding: 10px;
	border: solid 1px gray;
	text-align: left;
	float: left;
}

.left_menu{
		width: 100px;
		height: 800px;
		margin: 10px;
		padding: 10px;
		border: solid 1px gray;
		text-align: left;
		float: left;
	}

.main_deal{

	width: 540px;
	height: 300px;
	margin: 10px;
	padding: 10px;
	border: solid 1px gray;
	text-align: left;
	float: left;

}

//------QUESTIONS-------



.questions{
 text-align: left;
}

.responses{
	text-align: right;
}


//Carousel

.carousel-container{
	height:600px;
	width:900px;
}



/*---- Conversations -----*/



#conversations_div{
	position: fixed;
	height: 460px;
	width: 360px;
	z-index: 9000;
	margin-top: 10px;
	margin-right: 10px;
	/*margin-left: -50px;*/
	right: -310px;

}

.chat_container{
	width: 100px;
	height: 700px;
}

.conversations_column{
	height: 500px;
	text-align: left;
	background: white;
}

.message_list{
	height: 400px;
	text-align: left;
	overflow-y:scroll;
	overflow-x:hidden;
}
.message_send_box{
	margin-top: 5px;
	width: 100%;
}

.message_nickname {
	border-top: 1px solid #E8E8E8;
	font-weight:bold;
	margin-top:5px;
}


.conv_element,.contact_element {
	width: 100%;
	background-color: transparent ;
	margin:2px 20px 2px 5px;
	display:inline-block;
	color: #505050;
	font-family:arial;
	font-size:15px;
	text-decoration:none;
	height: 30px;
}
.conversation{
	height: 100%;
	padding-left: 20px;
	padding-top: 4px;
}

.contact_element img{
	height: 30px;
	width: 30px;
}
.message_line, .message_nickname {
	font-size: 13px;
	/*color: #707070;*/
	color: black;
	min-height: 13px;
	background-color: transparent;
	/*padding:2px;*/
	margin-right: 5px;
	margin-left: 5px;
}
.message_line{
	margin-left: 15px;
}

.message_nickname {
	border-top: 1px solid #E8E8E8;
	font-weight:bold;
	margin-top:5px;
}

.conv_element:hover,.contact_element:hover {
	background-color: #E8E8E8;
	cursor: pointer; cursor: hand;
}
.contact_add_conversation{
	width:20%;
	float:right;
}
.contact_image{
	float:left;
}
.contact_username{
	float:left;
}
.conv_element,.contact_element {
	width: 100%;
	background-color: transparent ;
	margin:2px 20px 2px 5px;
	display:inline-block;
	color: #505050;
	font-family:arial;
	text-decoration:none;
	height: 30px;
}
.conversation img{
	float:right;
	margin: 0px;
}
.conversation:hover{
	cursor: pointer; cursor: hand
}
.remove{
	float: right;
	margin-right: 10px;
}
.remove:hover{
	cursor: pointer; cursor: hand
}
#user{
	float: left;
	width: 20%;
	margin: 10px;
	background-color: green;
	color: white;
}
#add_contacts{
	float: left;
	width: 20%;
	margin: 10px;
	background-color: green;
	color: white;
}
#top{
	width: 100%;
	height: 150px;
}

.span2 .image{
	float:right;
}

.span4 .table{
	float:left;
}


/* Body interior */
.body_interior{
	background-color: #000;
	width: 80%;
	margin-left: 100px;
	margin-right: 50px;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;

}


.menu {
	background-color: #3b393b;
	height: 44px;
	margin-bottom: 20px;

}

.menu li {
	float: left;
	text-decoration: none;
	list-style: none;
	margin-left: 30px;


}



.menu li a {
	color:#fff;
	font-size: 14px;
	display: block;
	width:170px;
	text-align: center;
	padding: 12px 0;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold

}

.menu li a:hover {
	background: rgba(255, 255, 255, 0.6);
	color: #fff;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}


.menu li.menu_current a {
	font-weight: bold;
	color: #abd801 ;
}


.img_sales {
  width: 60%;
  float: left;
  margin-left: 95px;

}

.div_left {
	float: left;
	width: 30%;

}


/* Pagina de compra */

/* Header */
.buy_hearder {
	padding-left: 100px;
	padding-bottom: 10px;
	position: relative;
	height: 67px;
	background: #fff;
	z-index: 2;
	margin-bottom: 20px;
	border-bottom: 5px solid #3b393b;
;

} 

.buy_hearder img {
	padding-top: 5px;

}

.buy_body {
	padding-bottom: 5px;
	padding-top: 10px;
	background-color: #fff;
	width: 80%;
	margin-left: 100px;
	margin-right: 50px;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;


}

.buy_login {
	background-color: #fff;
	width: 80%;
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 5px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
}

.checkoutOrder select {
	width: 50px;
	height: 30px;

}

.checkoutOrder .buy_descripcion td {
	padding-top: 16px;
	padding-bottom: 5px;
	font-size: 13px;
	line-height: 24px;
	color: #292b2f;
	padding-right: 20px;
	padding-left: 20px;
	text-align: left;
	border-bottom: 1px solid #ccc;

}

.checkoutOrder .buy_data td {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 24px;
	color: #292b2f;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
	font-weight: bold;
}

.checkoutOrder .buy_data .descripcion {
	width: 500px;
	text-align: left;
}

.checkoutOrder .buy_data .priceSingle {
	font-size: 15px;
}


.forma_pago {
	margin-top: 50px;

}

.body_interior {
	padding-bottom: 100px;

}


.buy_login form {
	padding-top: 20px;

}


.buy_login form input {
	/*
	width: 350px;
	height: 15px; */
	font-size: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

}


.buy_login form button {
  background: -webkit-linear-gradient(top,#00a4cc 0%,#017296 100%);
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 35px;
  line-height: 37px;
  font-size: 16px;
  padding: 0 20px;

}


.buy_register {
	height: 700px;
	padding-top: 40px;

}


.buy_login .buy_register .new_user_left {
	float: left;
	width: 50%;

}




.buy_login .buy_register .new_user_left input {
	width: 200px;
	height: 15px;
	font-size: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 3px;
}

.buy_login .buy_register .new_user_left label {
	font-size: 12px;
	text-align: right;

}


.buy_login .buy_register .new_user_left select {
	width: 215px;
	height: 25px;
	font-size: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 3px;

}




/* Pagina Detalle de una ofeta */

.description {
	padding-top: 20px;

}

.description .details {
	float: left;
	width: 40%;
	margin-left: 30px;
	margin-right: 100px;

}


.description .conditions {
	width: 40%;
	float: left;

}


/* Intranet */
.body_interior_intranet {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
  width: 87%;

}



/* Intranet */
.select {
	width: 220px;
	float: right;
	list-style: none;
}


.select input {
	clear: both;
	float: left;
}



	/* Deals view */


.td_name {
	width: 130px;
	font-weight: bold;
	vertical-align: top;
	text-align: right;
}

.table_deal {
	margin-bottom: 10px;
	margin-top: 10px;

}


.title_deal {
	color: #000;
	font-weight: bold;


}

.title_deal:hover {
	color: #000 !important;
	font-weight: bold !important;
	text-decoration: none !important;

}


.table_datos_grals {
	float: left;
	width: auto;
	margin-right: 15px;
}

.foto_datos_grals {
	width: auto;

}

/*
.foto_deal_view {
	margin-left: 250px !important;

}
*/
.enviar_deal_view {
	margin-left: 250px !important;

}

.photo {
	padding-left: 20%;
	padding-right: 15%;
	margin-right: 0px !important;

}

.photo_view {
	padding:0px !important;
}

.datos_deal_view{
	width: auto;

}

.form_view {
	text-align: right !important;
	padding-right: 30%;
	padding-left: 10%;

}


.form_view select {
	margin-left: 0px !important;
	line-height: 10px !important;
	height: 25px !important;
	font-size: 14px !important;

}


.img_profile {
	min-height: 120px;
	background: #93b810;
	background: -moz-linear-gradient(top, #cbe63f 0%, #93b810 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbe63f), color-stop(100%,#93b810));
	background: -webkit-linear-gradient(top, #cbe63f 0%,#93b810 100%);
	background: -o-linear-gradient(top, #cbe63f 0%,#93b810 100%);
	background: -ms-linear-gradient(top, #cbe63f 0%,#93b810 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe63f', endColorstr='#93b810',GradientType=0 );
	background: linear-gradient(top, #cbe63f 0%,#93b810 100%);
	margin-bottom: 20px;

}


.img_profile img {
	height: 126px !important;
	width: 120px !important;
	margin-right: 10px !important;
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.img_profile p {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	margin-left: 10px;
	padding-top: 90px;
	margin-bottom: 2px;

}

.misdatos {
	margin-left: 50px;

}

.misdatos tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;

}

.misdatos .tdmisdatos {
	text-align: right !important;
	font-weight: bold;

}

.form_create {
	margin-right: 20%;
	margin-left: 0px !important;

}


.form_create input {
	width: 300px;
	margin-left: 5px;

}

.form_create select {
	width: 310px !important;
	margin-left: 5px !important;
	height: 25px;

}


.form_create textarea {
	width: 300px;
	margin-left: 5px;

}


.form_create label {
	text-align: right;

}


/* Users List */

.table_user_list {
	margin-left: 15%;

}

.table_user_list td {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.img_user_list {
	height: 120px !important;
	width: 120px !important;

}

.table_sales_list {
	margin-top: 20px;
	margin-right: 50px;
}

.table_sales_list th {
	width: 300px;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 20px;
	color:#DF371E;
	font-size: 14px;
	border-bottom: 1px solid #ccc;	
	font-size: 12px !important;

}


.table_sales_list td {
	width: 200px;
	text-align: center;
	font-size: 12px !important;
}

.table_stores_list {
	margin-top: 20px;

}

.table_stores_list tr {
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.table_sales_list_title {
	width: 400px !important;
}

.table_stores_name {
	width: 200px;
	font-weight: bold;

}

.table_stores_description { 
	width: 400px;
	margin-right: 5px;
}

.bnt_edit {
	background: -webkit-linear-gradient(top, #abd801 0%,#649901 100%) !important;
	background-image: linear-gradient(to bottom, #abd801, #649901) !important;
	margin-left: 3px !important;
	margin-right: 3px;
}


.table_stores_view {
	margin-top: 10px;
	margin-left: 50px;
}

.table_stores_view tr {
	border-bottom: 1px solid #ccc;
	height: 50px;

}

.table_stores_view_td {
	font-weight: bold;
	width: 120px;

}

.btn_stores_view {
	margin-left: 3px;
	font-size: 13px !important;

}

.table_franchisor_list {
	margin-left: 50px;
	margin-top: 10px;

}

.table_franchisor_list td {
	width: 180px;
	border-bottom: 1px solid #ccc;
	height: 50px;

}

.table_franchisor_btn {
	width: 30px !important;

}

.table_franchisor_view {
	margin-left: 50px;
	margin-top: 10px;

}

.table_franchisor_view td {
	border-bottom: 1px solid #ccc;
	height: 40px;
	width: 150px;
	
}

/*
.form_franchisor_create {
	width: 100%;
}

.form_franchisor_create label {
	margin: 0px !important;
	text-align: right;
	width: 80px;
	clear: both;
}

.form_franchisor_create input {
	width: 100px;
	margin: 0px !important;
}

*/
.table_countries_list {
	margin-top: 20px;
	margin-left: 50px;
}

.table_countries_list td {
	width: 150px;
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.td_btn {
	width: 30px !important;
}

.td_btn {
	margin-left: 5px !important;
}

.td_btn_currencies {
	width: 100px !important;
}

.td_btn_currencies a {
	margin-left: 5px !important;
}

.table_currencies_list {
	margin-top: 20px;
	margin-left: 50px;

}
.table_currencies_list td {
	height: 40px;
	width: 100px;
	text-align: center;
	border-bottom: 1px solid #ccc;

}

.header_franchise_layout{
	height:100px;
	color: #000;
	padding-top: 5px;
	background-color: #fff;
	width: 90%;
	margin: auto;


}
.header_franchise_layout img {
	float:left;
	width:20%;
	margin-right: 20px;
	margin-top: 15px;
	margin-left: 30px;
}


#feed_list {
	color: #045FB4;
	background-color: rgba(0, 0, 0, .07);

}

#feed_list li {
	list-style: none;
	font-size: 11px;
	font-weight: normal;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #D8D8D8;

}

.forma_pago {
	width: 45%;
	float: left;

}

.forma_pago_label{
	text-align: right;
	font-weight: bold;
}

.forma_pago table tr td select {
	font-size: 13px !important;
	height: 30px !important;
	padding: 8px 5px !important;

}

.form_create_inv table {
	margin-left: 30px;

}

.form_create_inv input {
	text-align: left !important;
}

.form_create_inv tr td label {
	text-align: right !important;
	width: 120px !important;
}


.stores_comisiones {
	text-align: left;

}


.table_commissions {
	margin-left: 20%;
	margin-right: 25%;
}

.table_commissions th {
	width: 100px;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 20px;
	color:#DF371E;
	font-size: 13px;
	border-bottom: 1px solid #ccc;	

}


.table_commissions td {
	width: 120px;
	text-align: center;
}


.table_commissions tr {
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.user_view {
	width: 68%;
	float: right; 
	margin-bottom: 20px;
}


.user_view td {
	text-align: left;
	width: 50%;
}

.user_view_title {
	text-align: right !important;
	font-weight: bold;
	width: 25% !important; 
	padding-right: 10px;

}

.user_edit {
	border-bottom: 1px solid #FFF; !important;
	width: 25% !important; 
}

.user_view tr {
	border-bottom: 1px solid #ccc;
	height: 50px;
}

.user_view_img {
	width: 15%;
	height: 15%;
	float: left;
	margin-left: 50px;
	margin-top: 20px;

}

.accordion_home {
	border: 0px !important;

}

.inner_home {

}

.inner_home  a {
	color: #0088cc !important;
	padding-left: 30px;

}

.inner_home  a:hover {
	color: #0088cc !important;

}

.heading_home {
	border: 0px !important;
	padding-left: 20px;

}

.heading_home a {
	color: #333;
	font-weight: bold;


}

.heading_home a:hover {
	color: #333 !important;
	text-decoration: none !important;

}


.store {
	height: auto;
	width: auto;
	margin-left: 30px;
	margin-bottom: 30px;
	clear: both;
}

/* Panel comentarios */
.well .question .btn.btn-info {
	height: 29px !important;
	margin-left: 10px;
	margin-top: 0px;


}

.well .question #question {
	padding: 0px !important;
	height: 27px !important;
	width: 40% !important;
	margin: 0px !important;
} 

.other-questions {
	margin-left: 27px;
	border-top: 1px solid #ccc;
}

.other-questions .media .user_question{
	width: 5%;
	height: 60px;
	margin-left: 0px;
	margin-right: 15px;
	float: left;

}

.other-questions .media {
	padding-top: 10px;
}

.user_img {
	height: 90%;
	width: 90%;
	margin: 0px !important;

}

.answer_img {
	clear: both;
	height: 40px !important;
	width: 100% !important;

}

.other-questions .media .answer {
	height: 60px !important;
	width: 80% !important;
	float: left;
	clear: both;
	margin-left: 15px;

}

.other-questions .media .answer .media .media-body .answer_admin .btn.btn-info {
	height: 29px;
	margin-top: 0px !important;
	margin-left: 10px;
}

.other-questions .media .answer .media .media-body .answer_admin  #answer_admin {
	padding: 0px !important;
	height: 27px !important;
	width: 40% !important;
	margin: 0px !important;
} 

.other-questions .media .media {
	margin-top: 0px !important;

}

.other-questions .media .answer .user_answer {
	width: 50px;
	height: 60px;
	margin-right: 20px !important;
	float: left;

}


/* Form Resgistrate */
.img_form_reg {
	margin: 0px !important;
	margin-left: 10px !important; 
	height: 53px;
	width: 37px;
}

.container_form h4 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	width: 225%;

}

.campos_obligatorios {
	font-size: 10px;
	color: #848485;

}

.error {
	color:#CE2E2E;
	font-weight: normal;
}