body {
	padding: 0 !important;
}

.fleft {float: left;}
.fright {float: right;}
.clear {clear: both;}

.space{margin: 5px !important}

/* Intranet */

.header_franchise_layout {background-color: #fff; height: 80px; border-bottom: 1px solid #e5e5e5;}
.header_franchise_layout img {
	padding: 8px 10px 6px;
	margin-left: 30px;
	margin-right: 5px;
}

#left {
	width: 15%; 
	height: auto;
	position: relative;
	margin-left: 30px;
	padding: 20px 0 0 0;
}


#center {width: 60%; padding: 20px 10px 0 20px;}
#news {width: 20%} 


