body {
	padding: 0 !important;
}

.fleft {float: left;}

/* Intranet */
.header_franchise_layout {background-color: #fff; height: 80px; border-bottom: 1px solid #e5e5e5;}
.header_franchise_layout img {
	padding: 8px 10px 6px;
	margin-left: 30px;
	margin-right: 5px;
}