// my-template.jade
extends ../layout

//Bloque de contenido.
block content
		form(method='post',id="sellers_register", action='/sellers/add/')
			p Activar mi cuenta de vendedor
			input(name='submit', type='submit').btn.btn-default