
extends ../layout

block content
	.col-md-5
		form(method='post', id="form_create_branch", action='/stores/#{store._id}/branches/create').form-horizontal
			h4 Informacion de la Sucursal
			.form-group
				label.col-md-4 name
				.col-md-8
					input(name='branch[name]', type='text').form-control.input-sm.required
			.form-group
				label.col-md-4 state
				.col-md-8
					select(name="branch[state]", id="state_selector").form-control.input-sm
						-each state in states
							option(value="#{state._id}") #{state.name}
			.form-group
				label.col-md-4 franchise
				.col-md-8
					input(type="text", value="#{branch.franchise.name}" disable).form-control.input-sm
			.form-group
				label.col-md-4 address
				.col-md-8
					input(name='branch[address]', type='text').form-control.input-sm.required
			.form-group
				label.col-md-4 zip
				.col-md-8
					input(name='branch[zip]', type='text').form-control.input-sm
			.form-group
				label.col-md-4 phone
				.col-md-8
					input(name='branch[phone]', type='text').form-control.input-sm
			.form-group
				label.col-md-4 email
				.col-md-8
					input(name='branch[email]', type='text').form-control.input-sm.required.email
			.form-group
				label.col-md-4 website
				.col-md-8
					input(name='branch[website]', type='text').form-control.input-sm
			.form-group
				label.col-md-4 fanpage
				.col-md-8
					input(name='branch[fanpage]', type='text').form-control.input-sm
			.form-group
				label.col-md-4 twitter
				.col-md-8
					input(name='branch[twitter]', type='text').form-control.input-sm
			.form-group#validate-user.has-feedback
				label.col-md-4 Usuario que tiene la sucursal asignada: 
				.col-md-8
					input(type='text', name="partner_username", id='branch_partner', placeholder="Usuario").form-control.input-sm
					span(class="glyphicon glyphicon-ok form-control-feedback" id="check-icon")
			.form-group
				button(type='submit' id='submit_btn').btn.btn-default Save
	script(type="text/javascript" src="/js/branches/create.js")