script(rel='text/javascript', src='/js/jquery.js')
script(rel='text/javascript', src='/js/scripts.js')
script(rel='text/javascript', src='/js/jquery.validate.min.js')
script(rel='text/javascript', src='/js/bootstrap.min.js')
script(rel='text/javascript', src='/js/bootstrap-datepicker.js')
script(rel='text/javascript', src='/js/bootstrap-timepicker.js')
script(rel='text/javascript', src='/js/jquery.color.js')
script(rel='text/javascript', src='/js/jquery.Jcrop.min.js')
script(rel='text/javascript', src='/js/carousel-init.js')
script(rel='text/javascript', src='/js/jquery.countdown.js')
script(rel='text/javascript', src='/js/countdown.js')
script(rel='text/javascript', src='/js/typeahead.min.js')
script(rel='text/javascript', src='/js/typeahead.base.js')
script(rel='text/javascript', src='/js/validation-rules.js')
script(rel='text/javascript', src='/js/chat.js')

script(rel='text/javascript', src='/js/socket.io.min.js')
script(rel='text/javascript', src='/js/socket_user_login.js')
//- link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/datepicker.css')
link(rel='stylesheet', href='/css/timepicker.css')
link(rel='stylesheet', href='/css/jquery.Jcrop.css')
//- link(rel='stylesheet', href='/css/deals.css')
link(rel='stylesheet', href='/css/jquery.countdown.css')
link(rel='stylesheet', href='/css/typeahead.min.css')

